# ===========================
# Directorios pesados / artefactos
# ===========================
data/
results/
logs/
.snakemake/
.vep/
vep_cache/
mysql_data/

# Directorios intermedios y procesados
data/processed/
data/intermediate/

# ===========================
# Archivos temporales y de logs
# ===========================
*.tmp
*.temp
*.log
*.bak
*.swp
*.swo
*.tmpdir

# ===========================
# Archivos del sistema
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Notebooks y checkpoints
# ===========================
.ipynb_checkpoints/
*.nbconvert.ipynb

# ===========================
# Entornos / secretos
# ===========================
venv*/
.env
*.env

# ===========================

*.idx
*.bt2
*.bwt
*.amb
*.ann
*.pac
*.sa
*.dict
*.fai

# ===========================

# data/**/*.png
# data/**/*.pdf
# results/**/*.png
# results/**/*.pdf

