# ===========================
# Directorios pesados / artefactos
# ===========================
data/
results/
logs/
.snakemake/
.vep/
vep_cache/
mysql_data/

# Directorios intermedios y procesados
data/processed/
data/intermediate/

# ===========================
# Archivos temporales y de logs
# ===========================
*.tmp
*.temp
*.log
*.bak
*.swp
*.swo
*.tmpdir

# ===========================
# Archivos del sistema
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Notebooks y checkpoints
# ===========================
.ipynb_checkpoints/
*.nbconvert.ipynb

# ===========================
# Entornos / secretos
# ===========================
venv*/
.env
*.env

# ===========================

*.idx
*.bt2
*.bwt
*.amb
*.ann
*.pac
*.sa
*.dict
*.fai

# ===========================

# data/**/*.png
# data/**/*.pdf
# results/**/*.png
# results/**/*.pdf

# ===========================
# Archivos de reportes y figuras
# ===========================
*.html
*.pdf
*.png
*.jpg
*.jpeg
*.svg
*.tiff
*.eps

# ===========================
# Archivos intermedios de pipelines
# ===========================
*.intermediate
*.tmp
*.temp

# ===========================
# Entornos locales / runtime
# ===========================
venv*/
venv312/
*.env

# Volúmenes y datos de bases locales (MySQL/MariaDB, Docker)
mysql_data/
mysql_data/*
*.sock
*.pid

# Archivos generados por contenedores / docker-compose
/mysql_data/
/logs/
/tmp/

# Archivos pesados que NO van a GitHub
data/intermediate/clinvar_grch38_parsed.tsv
data/intermediate/variantes_somaticas_API_anotadas.csv
data/intermediate/variantes_germinales_API_anotadas.csv